/*
Custom styles
*/

body {
    font-family: 'Open Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#footer {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 1px solid #000;
}

#top {
    border: 1px solid #000;
}

div#nav-container {
    margin: 0px -0.7em;
}

div.article {
    margin-top: 2em;
    padding-top: 2em;
}

div.main-article {
    padding-right: 1em;
    border-right: 1px solid #ddd;
}

div#announcements h4 {
    color: #fff;
    background-color: #444;
}

nav.navbar {
    border-bottom: 2px solid #000;
}

nav.bg-light {
    background-color: #fff!important;;
}

nav.navbar ul li {
    border-right: 1px solid #000;
    margin: 0;
    padding: 0;
}

nav.navbar ul li.last-nav {
    border-right: 0;
}

.navbar-light .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}